<div class="jumbotron text-center">
  <h1> MEAN Authentication App</h1>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>A rock solid Node.jsqExpress server using Mongoose to organize models and...</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Angular-CLI to generate component, serveices and more. Local dev server and...</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>full featured authntication usin JSON Web tokens. Login and store user...</p>
  </div>
</div>